body{
    background-color: bisque;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}

h2,h1{text-align: center;}

 p{
    color: white;
    font-size: 24px;
 }

 div h2{color: aqua;
text-align: right;
}

#hol {font-size: 5.5em;
font-weight: bold;}

.LOL{font-size: 2.2;
color:blue;}

.pol{color: blueviolet;
font-style: italic;}

a,img{

    display: block;
}

a{
  margin: 50px 20px;
  text-decoration: none;
  color: black;

}

img{
    margin: auto;
    width: 50%;

}

a:hover{
    color: blue;
}